display: flex;
flex-direction: column;
justify-content: space-between;

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left,
.right {
    flex: 50;
}

.linkGroupi {

}