html,
body {
    display: flex;
    justify-content: space-around;
    font-family: 'Inconsolata', monospace;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}